.footer {
  background-color: var(--blueGray900);
  color: var(--blueGray200);
  font-size: 16px;
}

.footer-logo {
  height: 35px;
  margin-bottom: 2rem;
  transform: translateX(-20px);
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-links h3 {
  margin-bottom: 0.75rem;
}

.footer-links ul {
  list-style: none;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--blueGray200);
}

.footer-links a:hover {
  text-decoration: underline;
}

.beta {
  background-color: var(--purple100);
  color: var(--purple800);
  font-size: 0.65rem;
  padding: 4px;
  border-radius: 4px;
  font-weight: 600;
  margin-left: 4px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--blueGray200);
  gap: 24px;
  padding-top: 24px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--blueGray200);
}

.footer-nav a {
  color: var(--blueGray200);
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media (min-width: 1024px) {
  .footer {
    padding: 3rem 4rem;
  }

  .footer-top {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-columns {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4rem;
    transform: translateX(-185px);
  }

  .footer-links {
    min-width: 140px;
  }

  .footer-links h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav {
    justify-content: flex-end;
    gap: 2rem;
  }

  .footer-logo {
    height: 40px;
    margin-bottom: 0;
  }
}